[submodule "SIDDA"]
	path = SIDDA
	url = https://github.com/EdwardBerman/SIDDA.git
[submodule "ext_theory"]
	path = ext_theory
	url = https://github.com/EdwardBerman/ext_theory.git
[submodule "Steerable-E3-GNN"]
	path = Steerable-E3-GNN
	url = https://github.com/EdwardBerman/Steerable-E3-GNN.git
